#heed {
    padding-right: 20px;
    font-family: "Candal";

}

.nounderline {
    text-decoration: none;
    color: #b93f3f;
}

.footer {
    text-align: center;
    color: #9a9898;
    padding: 20px;
}
.navbar {
    background-color: #f0f0f0; 
}
p {
    font-size: 1.03em;
}
body {
    font-family: "Cabin";
    font-size: 1.05em;
}
.img {
    width: 100%;
}
.img1 {
    width: 35%;
}