<div class="row">
    <div class="col-sm-4">
        <h1>Resources:</h1>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
        <img ng-src="{{pic}}" class="img1" alt="Angular">
    </div>
</div>
<br>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Link</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="x in materjal1">
            <td>  {{ x.Name }} </td>
            <td>  {{ x.Description }} </td>
            <td> <a href="{{ x.Link }}" target="_blank">Video</a>  </td>
        </tr>
        <tr ng-repeat="x in materjal">
            <td>  {{ x.Name }} </td>
            <td>  {{ x.Description }} </td>
            <td> <a href="{{ x.Link }}" target="_blank">Link</a>  </td>
        </tr>

    </tbody>
</table>
